name: CI-Auth-Backend

on:
  pull_request:
    branches: ['main']
    paths:
      - 'backend/**'
      - '.github/workflows/ci-backend.yml'

jobs:
  test-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: backend/go.mod
          cache: true

      - name: Download dependencies
        run: go mod download
      
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          working-directory: backend

      - name: Run tests
        run: make test
